<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.blog_title }} - {{ categories[category].attributes.name }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl: metadata.url }}" rel="self"/>
  <link href="{{ metadata.url }}{{ categories[category].attributes.slug }}/"/>
  <updated>{{ categories[category].attributes.articles.data[0].attributes.updatedAt }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {{ content }}
</feed>
