---
blog_title: Process Things
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles/bundle.css">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="/styles/googleFonts.css">
		<title>{{ blog_title }} | {{ page_title }}</title>
	</head>
	<body>
	<header>
		<div class="{{ extra_classes }}"><h1>
			<a href="/">
        {{ blog_title }}
        <span class="site-byline">by elle mundy</span>
      </a>
		</h1></div>
	</header>

	<div class="{{ extra_classes }}">
    {{ content }}
  </div>
	</body>
</html>
