---
blog_title: Process Things
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles/bundle.css">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="/styles/googleFonts.css">
		<link rel="alternate" type="application/rss+xml" href="/feed.xml" title="Process Things - All articles">
		<link rel="alternate" type="application/rss+xml" href="/music/feed.xml" title="Process Things - Music">
		<link rel="alternate" type="application/rss+xml" href="/photography/feed.xml" title="Process Things - Photography">
		<link rel="alternate" type="application/rss+xml" href="/poetry/feed.xml" title="Process Things - Poetry">
		<link rel="alternate" type="application/rss+xml" href="/code/feed.xml" title="Process Things - Code">
		<title>{{ blog_title }} | {{ page_title }}</title>
	</head>
	<body>
	<header>
		<div class="{{ extra_classes }}"><h1>
			<a href="/">{{ blog_title }}</a>
      <span class="site-byline">by <a href="/about">elle mundy</a></span>
		</h1></div>
	</header>

	<div class="{{ extra_classes }}">
		{{ content }}
	</div>
	</body>
</html>
