<article>
  <h1><a href="/{{ collection.attributes.slug }}/{{ article.attributes.slug }}/">{{ article.attributes.title }}</a></h1>
  <p class="metadata">
    by {{ article.attributes.author }}<br>
    published {{ article.attributes.publishedAt | date: "%a, %b %d, %Y at %l:%M %p" }}<br>
    updated {{ article.attributes.updatedAt | date: "%a, %b %d, %Y at %l:%M %p" }}<br>
  </p>
  {{ article.attributes.body | markdown }}

  <p>
    {% for tag in article.attributes.tags.data %}
      <a href="/tags/{{ tag.attributes.slug }}">{{ tag.attributes.name }}</a>
    {% endfor %}
  </p>
</article>
