<article>
  {%- assign category = article | extractCategory %}
  <h1><a href="/{{ category.attributes.slug }}/{{ article.attributes.slug }}/">{{ article.attributes.title }}</a></h1>
  <div class="metadata">
    by <a href="/about">{{ article.attributes.author }}</a><br>
    <time-stamp data-time="{{ article.attributes.publishedAt }}">
      {{ article.attributes.publishedAt | date: "%a, %b %d, %Y at %l:%M %p" }}
    </time-stamp><br>
  </div>
  {{ article.attributes.body | markdown }}
  <ul class="tags">
    {% for tag in article.attributes.tags.data %}
      <li><a href="/tags/{{ tag.attributes.slug }}">{{ tag.attributes.name }}</a></li>
    {% endfor %}
  </ul>
</article>
