<article>
  <h1><a href="/{{ collection.attributes.slug }}/{{ article.attributes.slug }}/">{{ article.attributes.title }}</a></h1>
  <div class="metadata">
    by <a href="/about">{{ article.attributes.author }}</a><br>
    published
    <time-stamp data-time="{{ article.attributes.publishedAt }}">
      {{ article.attributes.publishedAt | date: "%a, %b %d, %Y at %l:%M %p" }}
    </time-stamp><br>
    updated <time-stamp data-time="{{ article.attributes.updatedAt }}">
      {{ article.attributes.updatedAt | date: "%a, %b %d, %Y at %l:%M %p" }}
    </time-stamp><br>
  </div>
  {{ article.attributes.body | markdown }}

  <p>
    {% for tag in article.attributes.tags.data %}
      <a href="/tags/{{ tag.attributes.slug }}">{{ tag.attributes.name }}</a>
    {% endfor %}
  </p>
</article>
