{%- assign category = article | extractCategory %}
<footer>
  &mdash;
  <p>
    Check out the rest of my <a href="/{{ category.slug }}">{{ category.name | downcase }}</a> posts.
  </p>
  <p>
    Want to keep up with all my {{ category.name | downcase }} posts? Subscribe to the <a href="/{{ category.slug }}/feed.xml">RSS feed</a>. Or, if you want all my posts, subscribe to the <a href="/feed.xml">main RSS feed</a>.
  </p>
  {% if category.mailUrl %}
    <p>
      Want it in your inbox instead? Subscribe to the <a href="{{ category.mailUrl }}">email newsletter</a>.
    </p>
  {% endif %}
  &mdash;
  <ul class="tags">
    {% for tag in article.tags %}
      <li><a href="/tags/{{ tag.slug }}">{{ tag.name }}</a></li>
    {% endfor %}
  </ul>
</footer>
