<div class="collection {{ class }}">
  <header>
    <h1 class="collection-header">
      {% assign maybeTag = collection.attributes.slug | extractTag: articles[0].data.article %}
      {% if maybeTag.attributes.slug == collection.attributes.slug %}
        <a href="/tags/{{ collection.attributes.slug }}">{{ collection.attributes.name }}</a>
      {% else %}
        <a href="/{{ collection.attributes.slug }}">{{ collection.attributes.name }}</a>
        <a href="/{{ collection.attributes.slug }}/feed.xml"><img alt="rss - {{ collection.attributes.name }}" class="rss" src="/images/rss icon.svg"></a>
        {% if collection.attributes.mailUrl != null and collection.attributes.mailUrl != "" %}
          <a href="{{ collection.attributes.mailUrl }}"><img alt="mail - {{ collection.attributes.mailName }}" class="rss" src="/images/mail icon.svg"></a>
        {% endif %}
      {% endif %}
    </h1>
  </header>
  <div class="collection-body">
    {% for article in articles limit:count %}
      {% if article.data.article.attributes.og_image.data %}
        {% render 'ogPreview', article: article.data.article, clip: 1000 %}
      {% else %}
        {% render 'article', article: article.data.article, clip: 1000 %}
      {% endif %}
    {% endfor %}
    <nav class="more"><a href="/{{ collection.attributes.slug }}">More {{ collection.attributes.name | downcase }}</a></nav>
  </div>
  {% render 'pagination', pagination: pagination %}
</div>
