<div class="collection {{ class }}">
  <header>
    <h1>
      {% assign maybeTag = collection.slug | extractTag: articles[0].data.article %}
      {% if maybeTag.slug == collection.slug %}
        <a href="/tags/{{ collection.slug }}">{{ collection.name }}</a>
      {% else %}
        <a href="/{{ collection.slug }}">{{ collection.name }}</a>
      {% endif %}
      <nav>
        <a href="/{{ collection.slug }}/feed.xml"><img alt="rss - {{ collection.name }}" class="rss" src="/images/rss icon.svg"><span>Subscribe on RSS</span></a>
        {% if collection.mailUrl != null and collection.mailUrl != "" %}
          <a href="{{ collection.mailUrl }}"><img alt="mail - {{ collection.mailName }}" class="rss" src="/images/mail icon.svg"><span>Subscribe to newsletter</span></a>
        {% endif %}
      </nav>
    </h1>
    {% if collection.blurb %}
      <section class="blurb">
        {{ collection.blurb | markdown }}
      </section>
    {% endif %}
  </header>
  <div class="collection-body">
    {% for article in articles limit:count %}
      {% render 'articlePreview', article: article.data.article, clip: 1000 %}
    {% endfor %}
    <nav class="more"><a href="/{{ collection.slug }}">More {{ collection.name | downcase }}</a></nav>
  </div>
  {% render 'pagination', pagination: pagination %}
</div>
