<div class="collection {{ class }}">
  <header>
    <h1>
      <a href="/{{ collection.attributes.slug }}">{{ collection.attributes.name }}</a
      ><a href="/{{ collection.attributes.slug }}/feed.xml"><img class="rss" src="/images/rss icon.svg"></a>
    </h1>
  </header>
  <div class="collection-body">
    {% for article in articles limit:count %}
      {% render 'article', article: article, collection: collection %}
    {% endfor %}
    <nav class="more"><a href="/{{ collection.attributes.slug }}">More {{ collection.attributes.name | downcase }}</a></nav>
  </div>
  {% render 'pagination', pagination: pagination %}
</div>
