{%- assign absoluteArticleUrl = "/" | append: collection.slug | append: "/" | append: article.slug | append: "/" | absoluteUrl: metadata.url %}
<entry>
  <title>{{ article.title | htmlEncode }}</title>
  <author>
    <name>{{ article.author }}</name>
  </author>
  <link href="{{ absoluteArticleUrl }}"/>
  <published>{{ article.publishedAt }}</published>
  <updated>{{ article.updatedAt }}</updated>
  <id>{{ absoluteArticleUrl }}</id>
  <content xml:lang="{{ metadata.language }}" type="html">{{ article.body | markdown | convertHtmlToAbsoluteUrls: absoluteArticleUrl | htmlEncode }}</content>
  <category term="{{ collection.name }}" />
</entry>
