---
layout: "main.liquid"
pagination:
  data: articles
  size: 1
  alias: article
  addAllPagesToCollections: true
permalink: "{{ article.collection.slug }}/{{ article.slug }}/index.html"
extra_classes: "container center"
eleventyComputed:
  page_title: "{{ article.title }}"
  og_url: "{{ article.collection.slug }}/{{ article.slug }}/"
  og_type: "{{ article.og_type | default: 'article' }}"
  og_image: "{{ article.og_image.url }}"
  og_description: "{{ article.body | markdown | htmlToText | textClip: 300 }}"
  extra_og_tags:
    "article:published_time": "{{ article.firstPublishedAt }}"
    "article:modified_time": "{{ article.updatedAt }}"
    "article:author": "{{ article.author }}"
    "article:section": "{{ article.collection.name }}"
---
<h1 class="collection-name"><a href="/{{ article.collection.slug }}">{{ article.collection.name }}</a></h1>
<article>
  {% render 'articleHeader', article: article %}
  {{ article.body | markdown }}
  {% render 'light-box' %}
</article>
{% render 'articleFooter', article: article %}
